{{<partials-page}}
  {{$pageTitle}}
    {{#t}}pages.check-requested.confirmed{{/t}} &ndash; {{#t}}journey.serviceName{{/t}} &ndash; GOV.UK
  {{/pageTitle}}
  {{$page-content}}
    <div class="govuk-panel alert-complete govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{#t}}pages.check-requested.confirmed{{/t}}
      </h1>
    </div>
    <p class="govuk-body">{{#t}}pages.check-requested.p1{{/t}}</p>
    <div>
      <button class="govuk-button request-another-check">
        {{#t}}buttons.request-another-check{{/t}}
      </button>
    </div>

  {{/page-content}}
{{/partials-page}}
