{{<partials-page}}
  {{$page-content}}
    <p class="govuk-body">{{#t}}pages.eligibility.right-to-work-intro{{/t}}</p>

    <ul class="govuk-list govuk-list--bullet">
      <p class="govuk-body"><li>{{#t}}pages.eligibility.worker-has-ppt{{/t}}</li></p>
      <p class="govuk-body"><li>{{#t}}pages.eligibility.worker-has-ho-docs{{/t}}</li></p>
      <p class="govuk-body"><li>{{#t}}pages.eligibility.worker-has-digital-right{{/t}}</li></p>
    </ul>

    <h2 class="govuk-heading-m">{{#t}}fields.worker-has-eligible-docs.legend{{/t}}</h2>
    {{#renderField}}worker-has-eligible-docs{{/renderField}}
  
    {{#input-submit}}continue{{/input-submit}}

  {{/page-content}}
{{/partials-page}}