{{<partials-page}}
  {{$page-content}}
  <h1 class="govuk-heading-l">
    {{#t}}pages.settlement-protection.heading-1{{/t}}
      <a href="https://www.gov.uk/settlement-refugee-or-humanitarian-protection" class="govuk-link">{{#t}}pages.settlement-protection.heading-link{{/t}}"</a>
      {{#t}}pages.settlement-protection.heading-2{{/t}}
  </h1>
    {{#renderField}}worker-applied-for-settlement-protection{{/renderField}}
    {{#input-submit}}continue{{/input-submit}}

  {{/page-content}}
{{/partials-page}}